body {
  margin: 0;
}

form {
  margin-top: .5%;
  text-align:center;
  margin-left: 40%;
  margin-right: 40%
}

button {
  margin-top: .5%;
  margin-left: 40%;
  margin-right: 40%
}

.column {
  grid-column: 1;
  width: 250px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-left: 5px;
  text-align: center;
  outline: 4px inset lightblue;
}

.rightCol{
 
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-left: 5px;
  text-align: center;
}